DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_db_pass_change_me
DB_HOST=db
DB_PORT=5432
SECRET_KEY=change_me_to_random_50_chars_minimum_length
DEBUG=False
ALLOWED_HOSTS=81.26.183.233
ADMIN_EMAIL=admin@foodgram.ru
ADMIN_PASSWORD=admin123
